configuration {
 modi: "combi,run,window,ssh,drun";
 font: "Iosevka Term 14";
 combi-modi: "window,run,ssh,drun";
 width: 200;
 bw: 0;
 padding: 200;
 lines: 24;
 color-normal: "#00fdf6e3,#ffffff,#00eee8d5,#268bd2,#eee8d5";
 color-window: "#DD000000,#000000,#00000000";
}

