#!/bin/bash

export PATH="/home/dino/bin:$PATH"

xset r rate 220 30
if [ "$GDMSESSION" = "bspwm" ]; then
    # keyboard
    setxkbmap -layout us,us -variant ,alt-intl -option grp:shifts_toggle
    xbindkeys &

    # mouse
    xsetroot -cursor_name left_ptr
    # unclutter &
    # when the mouse is hidden I can not switch bspwm nodes

    # other programs
    eval $(ssh-agent)
    redshift -m randr -r -l 52.0685:4.5094 -t 5700:2700 &

    [ ! -s ~/.config/mpd/pid ] && mpd

    # compositor
    compton --config ~/.config/compton.conf -CG &

    # swap 8 and 9 so that back and forward buttons are the way I like it
    # xmodmap -e 'pointer = 1 2 3 4 5 6 7 9 8 10 11 12' &
    # todo: run only when using that trust mouse

    (sleep 5 && journalctl -S "$(date "+%F %T")" --no-pager -f -u earlyoom.service | notifier &)
fi

#xcalib -d :0 ~/.W2486L.icm
export _JAVA_AWT_WM_NONREPARENTING=1
java_nonreparenting_wm_hack.sh

xdg_menu --format openbox | ./bin/openbox_to_mygtkmenu.php > ~/mymenu
