! vim: set filetype=xdefaults :

! see /etc/X11/xinit/xinitrc.d/xft-settings.sh
!Xft.dpi: 192
!Xft.autohint: 0
!Xft.lcdfilter: lcddefault
!Xft.hintstyle: hintfull
!Xft.hinting: 1
!Xft.antialias: 1
!Xft.rgba: rgb

*.foreground: #daba8b
*.background: #111111

!black
*.color0:     #0c0d0e
*.color8:     #737475
!red
*.color1:     #e31a1c
*.color9:     #e31a1c
!green
*.color2:     #31a354
*.color10:    #31a354
!yellow
*.color3:     #dca060
*.color11:    #dca060
!blue
*.color4:     #3182bd
*.color12:    #3182bd
!magenta
*.color5:     #756bb1
*.color13:    #756bb1
!cyan
*.color6:     #80b1d3
*.color14:    #80b1d3
!white
*.color7:     #b7b8b9
*.color15:    #fcfdfe

URxvt*borderColor:        [95]#111111
URxvt*colorBD:            #daba8b
URxvt*cursorColor:        #ff8939
URxvt*cursorColor2:       #151515
URxvt.scrollBar: false
URxvt.borderLess: false

URxvt.font:             xft:Iosevka Term:size=14
URxvt.boldFont:         xft:Iosevka Term:size=14:style=Bold
URxvt.italicFont:       xft:Iosevka Term:size=14
URxvt.bolditalicFont:   xft:Iosevka Term:size=14

URxvt.depth: 32
URxvt.background: [95]#111111
